*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild



# Generated 文件夹
bin/
gen/

# 日志文件
*.log

# Android Studio导航编辑器临时文件
.navigation/

# Android Studio captures folder
captures/

# IntelliJ (IDE配置文件)
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/caches

